<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}">{{> "icons/logo-long"}}</a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        {{> "social-links"}}
    </div>
</nav>
