<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{> "icons/logo-long"}}</a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            <a class="social-link social-link-github" href="https://github.com/malinushj" target="_blank">{{> "icons/github"}}</a>
            <a class="social-link social-link-linkedin" href="https://www.linkedin.com/in/malinbranduse/" target="_blank">{{> "icons/linkedin"}}</a>
        </div>
        <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank">{{> "icons/rss"}}</a>
    </div>
</nav>
