<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{> "icons/logo-long"}}</a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        {{> "social-links"}}
        <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank">{{> "icons/rss"}}</a>
    </div>
</nav>
